<!DOCTYPE html>
<html>
    <head>
        <title > iRestaurant  </title>  
         <style>
        table tr:nth-child(even) {
            background-color: #eee;
            padding: 5px;
        }
        table tr:nth-child(odd) {
           background-color:#fff;
           padding: 5px;
        }
        table th {
            
            background-color: white;
            color: darkgray;
            padding: 5px
        }
         body{
        background-image: url("http://food-and-community.tesco.ie/assets/Uploads/TurkeyByriani.jpg");
        background-repeat: no-repeat; 
         background-size: cover;
    }
        </style>
    </head>
   <body>
       
        <h1 align="middle"><span data-th-text="${#httpServletRequest.remoteUser}" data-th-remove="tag"></span>iRestaurant!</h1>
          <div data-th-text="${msg}"></div>
        <div>
            <table align="center" style="border: 2px solid black">
                <tr>
                    <th width="50">ID                  </th>
                    <th width="50">Name                </th>
                    <th width="50">Cuisine Type        </th>
                    <th width="50">Meal Time           </th>
                    <th width="50">Meal Type           </th>
                    <th width="50">Recipe              </th>
                </tr>                
                <tr data-th-each="iRestaurant : ${meals}">
                    <td data-th-text="${iRestaurant.id}         "></td>
                    <td data-th-text="${iRestaurant.title}      "></td>
                    <td data-th-text="${iRestaurant.cuisineType}"></td>
                    <td data-th-text="${iRestaurant.mealTime}   "></td>
                    <td data-th-text="${iRestaurant.mealType}   "></td>
                    <td data-th-text="${iRestaurant.description}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
      
        <form align="middle" data-th-action="@{/meals/add}" name="addiRestaurantForm" method="post">
            Add Meal:<br />
            Title       : <input type="text" name="title" /><br />
            Cuisine Type    :           
            <select name="cuisineType">
                <option value="None" selected="selected">None</option>
                <option value="Indian"> Indian</option>
                <option value="Ozbki"> Ozbki</option>
                <option value="Westren"> Westren</option>
                <option value="Chinese"> Chinese</option>
                <option value="Mediterranean"> Mediterranean</option>

            </select><br />

            Meal Time       :           
            <select name="mealTime">
                <option value="None" selected="selected">None</option>
                <option value="Breakfast"> Breakfast</option>
                <option value="Brunch"> Brunch</option>
                <option value="Lunch"> Lunch</option>
                <option value="Dinner"> Dinner</option>
                <option value="Supper"> Supper</option>

            </select><br />

            Meal Type       :           
               <select name="mealType">
                <option value="None" selected="selected">None</option>
                <option value="Appetizer"> Appetizer</option>
                <option value="Salad"> Salad</option>
                <option value="Main_Course"> Main Course</option>
                <option value="Dessert"> Dessert</option>
                <option value="Beverages"> Beverages</option>

            </select><br /><br /><br />
            
            Write Your Recipe:<br />        
            <textarea align="center" name= "description" rows="10" cols="100" placeholder="Write Your Recipe"> </textarea><br />
            
            
            <br /><br /><input type="submit" value="Add Meal"/><br /><br />
        </form>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>